@charset "utf-8";

body {
    font-family: "Times New Roman",
        "YuMincho",
        "Hiragino Mincho ProN",
        "Yu Mincho",
        "MS PMincho",
        serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: .05em;
}

.inner {
    width: 86.49%;
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    line-height: 1;
    font-size: 40px;
    margin: 40px 0;
}

.mainPhoto {
    background: url(./images/bg_main.png) no-repeat center/cover;
    padding: 240px 0 80px;
}

.mainPhoto .mainText {
    display: inline-block;
    background: #fff;
    padding: 40px;
}

.mainText h2 {
    font-size: 36px;
    line-height: 1.39;
    margin-top: 30px;
}

.discussion {
    padding: 100px 0;
}

.heading {
    text-align: center;
}

.heading h2 {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.19;
    margin: 25px 0 20px;
}

.heading::before {
    content: "KUMONが向き合うもの";
    display: inline-block;
    padding: 8px 15px;
    background: #72C9F3;
    color: #fff;
    line-height: 1;

}

.heading::after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 1px;
    background: #1E1E1E;
}

.post .postPhoto {
    position: relative;
    margin-top: 50px;
}

.postPhoto p {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 80%);
    padding: 20px;
    line-height: 1;
}

.tag {
    margin: 20px auto 0;
}

.tag a {
    color: #1E1E1E;
    line-height: 1;
    background: #F5F5F5;
    padding: 5px 10px;
    margin-right: 10px;
}

.post:nth-child(n+3) {
    margin-top: 100px;
}